:root {
  --first-color: #15191c;
  --second-color: #f1f1f1;
  --third-color: #006936;
}

body {
  background-color: var(--first-color);
  animation: color 6s infinite;
}

@keyframes color {
  0%   { background: var(--first-color); }
  50%  { background: var(--third-color); }
  100%  { background: var(--first-color); }
}

.container {
  font-family: "Courier New", Courier, monospace;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
}

img {
  width: 250px;
  height: 250px;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img:hover {
  animation: girar 2.5s linear infinite;
}

.item {
  width: 25%;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  border: 1px solid var(--second-color);
  border-radius: 50px;
  text-decoration: none;
  color: var(--second-color);
  transition: 1.5s;
  box-shadow: 1px 1px 1px 1px var(--second-color);
}

.container .item:hover {
  scale: 1.1;
}

i {
  padding-right: 10px;
}

p {
  color: var(--second-color);
}

.rodape {
  margin-top: 20px;
}

@media (max-width: 576px) {
  .container {
    padding-top: 20px;
  }

  .item {
    width: 50%;
  }
  
  .rodape {
    font-size: 14px;
  }
}
