:root {
  --first-color: #15191c;
  --second-color: #f1f1f1;
  --third-color: #006936;
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--first-color);
  animation: color 9s infinite;
}

@keyframes color {
  0%   { background: var(--first-color); }
  20%  { background: var(--third-color); }
  40%  { background: var(--first-color); }
  60%  { background: var(--third-color); }
  80%  { background: var(--first-color); }
  100%  { background: var(--first-color); }
}

.container {
  font-family: "Courier New", Courier, monospace;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px var(--second-color);
}

.item {
  width: 60%;
  text-align: center;
  padding: 10px;
  font-size: 25px;
  border: 2px solid var(--second-color);
  border-radius: 50px;
  text-decoration: none;
  color: var(--second-color);
  transition: 1.5s;
  box-shadow: 1px 1px 1px 1px var(--second-color);
}

.container .item:hover {
  scale: 1.1;
}

i {
  padding-right: 10px;
}

p {
  color: var(--second-color);
}

@media (max-width: 576px) {
  .container {
    padding-top: 20px;
    gap: 20px;
  }

  .item {
    padding: 10px;
    font-size: 20px;
  }

  .rodape {
    margin-top: 20px;
    font-size: 14px;
  }
}
